language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
script:
  - travis_wait pytest src/tests/integration/test_agents_actions.py 
  - travis_wait pytest src/tests/integration/test_social_assets_actions.py 
  - pytest src/tests/unity/
